
// Buttons in slots
// *******************

.a-btn,
.a-arrow-btn,
.a-simple-icon
{
  @a-button-icons(0px);
}

.a-btn.alt,
.a-link,
.a-btn.lite,
.a-arrow-btn.alt,
.a-simple-icon.alt
{
  @a-button-icons(-20px);
}

@a-button-icons(@bgleft: 0;)
{
    &.a-poll > .icon { background-position: @bgleft -1560px; }
    &.a-poll-preview > .icon     { background-position: @bgleft -1560px;  }
    &.a-poll-list-answers > .icon     { background-position: @bgleft -320px;  }
}

// Forms
// **************

.a-slot.aPoll 
{
    .a-edit-view
    {
	 .a-slot-form-help
         {
             font-size: 10px;
               padding: 2px;
         }
    }
}

// Admin list
/* Initially invisible form for creating new poll posts inline */
.a-poll-admin-new-ajax { display: none; width: 200px;}
.a-poll-admin-new-ajax .title input { width: 172px; margin: 5px 0;}
.a-poll-admin-new-ajax .a-form-row { margin: 0 0 5px 0 !important; }

.a-form-row .a-form-label {
    float: left;
    text-align: left;
    font-weight: bold;
    width: 200px;
    line-height: 20px;
}

.a-admin .fieldset h2 {
    padding: 10px 0 0;
    margin: 0 0 10px 0;
    color: #333;
    background-color: transparent;
    font-size: 14px;
    text-transform: capitalize;
    border-top: 1px #DDD solid;
}


// Polls in slots
// *****************

.a-poll-slot-container {

    .a-poll-title-bar {
       margin-top: 10px;
       margin-bottom: 10px; 
    }

    .a-poll-description {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


.a-admin
{

  .a-date-wrapper
    {
      position: relative;
      margin-right: 3px;
      img
      {
        position: absolute;
        top: 50%;
        margin: -10px 0 0 0;
        right: 0;
      }
    }

    .a-time-wrapper input,
    .a-date-wrapper input
    {
      width: 75px;
      padding-right: 20px;
    }

    .time-item-enabled input
    {
      font: 11.5px/1.2 Arial;
      width: 52px;
      padding: 2px 20px 2px 3px;
      border:1px solid #ddd;
      background: #fff url({@a-asset-path}'/apostrophePlugin/images/a-icon-time.png') no-repeat right 50%;
      @a-border-radius(3px);
    }

}

.a-poll-nodisplay-help 
{
    font-size: 12px;

    ul
    {
        margin-left: 30px;
    }
}


// Poll preview
// *********************

.a-poll-preview-area
{
    margin-top: 30px !important;

    dl
    {
	float: left;
	width: 600px;
	margin: 1em 0;
	padding: 0;
	border-bottom: 1px solid #999;
    }

    dt
    {
	clear: left;
	float: left;
	width: 360px;
	margin: 0;
	padding: 5px;
	border-top: 1px solid #999;
	font-weight: bold;

    }



    dd
    {
	float: left;
	width: 220px;
	margin: 0;
	padding: 5px;
	border-top: 1px solid #999;
    }

    .a-form-errors {float:none !important; }

    .a-form-row td {  float: none;}
}